<a href="https://colab.research.google.com/github/juanmanuelvillacis/lab_hypothesis_testing/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [ ]:
# import numpy and pandas
import numpy as np 
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [ ]:
# Run this code:

salaries = pd.read_csv('/content/drive/MyDrive/Iron Hack/LABs/Module_2/lab_hypothesis_testing/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [ ]:
# Your code here:
salaries.head()

                  Name  ... Hourly Rate
0    AARON,  JEFFERY M  ...         NaN
1      AARON,  KARINA   ...         NaN
2  AARON,  KIMBERLEI R  ...         NaN
3  ABAD JR,  VICENTE M  ...         NaN
4    ABASCAL,  REECE E  ...       19.86

[5 rows x 8 columns]

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [ ]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [ ]:
# Your code here:

salaries[salaries['Salary or Hourly']=='Salary'].agg({'Name':'count'}) , salaries[salaries['Salary or Hourly']=='Hourly'].agg({'Name':'count'})

(Name    25161
 dtype: int64, Name    8022
 dtype: int64)

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [ ]:
# Your code here:

salaries['Department'].unique()
salaries.groupby('Department').agg({'Name':'count'})

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [ ]:
# Your code here:
import matplotlib.pyplot as plt
import scipy.stats as stats
mean_sal = salaries['Hourly Rate']
mean_sal

In [ ]:
index_clean = salaries[salaries['Hourly Rate'].isnull()==True].index
index_clean
sal_clean = salaries.drop(labels=index_clean,axis=0)

In [ ]:
# P value is less than 0.05 then our hipothesis is True
test = stats.ttest_1samp(sal_clean['Hourly Rate'],30)

In [ ]:
confidence = 0.05
p_value = test[1]
if p_value<confidence:
    print(f"P_value ({p_value}) is lower than the confidence interval ({confidence}), we can reject the null hypothesis")
else:
    print(f"P_value ({p_value}) is higher than the confidence interval ({confidence}), we can`t reject the null hypothesis")

P_value (4.3230240486229894e-92) is lower than the confidence interval (0.05), we can reject the null hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [ ]:
# Your code here:
sal_complete = salaries[(salaries['Annual Salary'].isnull()==False)&(salaries["Department"]=="POLICE")]['Annual Salary']
sal_complete

In [ ]:
test = stats.ttest_1samp(sal_complete,86000)

In [ ]:
confidence = 0.05
p_value = test[1]/2
if p_value<confidence:
    print(f"P_value ({p_value}) is lower than the confidence interval ({confidence}), we can reject the null hypothesis")
else:
    print(f"P_value ({p_value}) is higher than the confidence interval ({confidence}), we can`t reject the null hypothesis")

P_value (0.0010301701775482569) is lower than the confidence interval (0.05), we can reject the null hypothesis

Using the `crosstab` function, find the department that has the most hourly workers.

In [ ]:
# Your code here:
pd.crosstab(salaries['Department'],salaries['Salary or Hourly']).sort_values('Hourly',ascending=False).head(1)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here:
sal_most_workers = salaries[(salaries['Department']=='STREETS & SAN')&(salaries['Salary or Hourly']=='Hourly')]['Hourly Rate'].values
sal_most_workers

array([35.6 , 21.43, 35.6 , ..., 35.6 , 36.21, 22.12])

In [ ]:
test = stats.ttest_1samp(sal_most_workers,35)
test

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [ ]:
confidence = 0.05
p_value = test[1]
if p_value<confidence:
    print(f"P_value ({p_value}) is lower than the confidence interval ({confidence}), we can reject the null hypothesis")
else:
    print(f"P_value ({p_value}) is higher than the confidence interval ({confidence}), we can`t reject the null hypothesis")

P_value (3.3378530564707717e-21) is lower than the confidence interval (0.05), we can reject the null hypothesis

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
# Your code here:
from scipy.stats import sem
hourly_wage = sal_clean['Hourly Rate'].values
confidence_level = 0.95
degrees_of_freedom = len(hourly_wage)-1
mean_sample = hourly_wage.mean()
standard_error = stats.sem(hourly_wage)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:
from scipy.stats import t
confidence_interval = t.interval(confidence_level,
                         degrees_of_freedom,
                         mean_sample,
                         standard_error)
confidence_interval

(32.52345834488425, 33.05365708767623)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here:
#from statsmodels.stats.proportion import proportions_ztest
import pandas.util.testing as tm
stat, pval = proportions_ztest(len(salaries[salaries['Salary or Hourly']=="Hourly"]),
                               len(salaries),
                               0.25)

In [ ]:
pval

0.0004481127249057967